.active-cat-img {
    display: block;
}

.hidden {
  display: none; 
  transition: 1s;
  transform: rotate(360deg);
}

.cat-picture-box {
    height: 300px;
    overflow: hidden;
}

.touched {
    transition: .4s;
  }


/********************************
Media Queries
********************************/

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }